extends layout

block content
  div(class='home')
    if (currentUser)
      div(class='newMessage')
        textarea(name="msg", cols="30", rows="10", form="messageForm") 
        form(action="", method="post" id="messageForm") 
          button(class='sendMessage') Send
    