doctype html
html
  head
    title Forum
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='wrapper')
      aside 
        nav 
          ul 
            a(href="/")
              li Forum
            div 
              if (currentUser)
                a(href="/log-out")
                  li= `Log out ${currentUser.username}`
              else 
                a(href="/log-in")
                  li Log In 
                a(href="/sign-up")
                  li Sign Up 
      div(class='content')
        block content
